<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Roundlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h2>Score must be between 54 and 120</h2>
	<h2>Putts must be between 18 and 54</h2>
	<h2>GIR must be between 0 and 18</h2>
	<h2>Fairways must be between 0 and 16</h2>
	<a th:href="@{/roundlist}" class="btn btn-xs btn-danger">Back to frontpage</a>
</body>
</html>